<div class="row">
<div class="col-sm-3"></div>
  <div class="col-sm-6">
    <h1>Inicia sesi칩n</h1>
    <div class="well well-lg">
      <%= bootstrap_form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email, prepend:'<i class="fa fa-envelope-o fa-fw"></i>'.html_safe, placeholder:'Correo electr칩nico', hide_label: true, autofocus: true %>
        <%= f.password_field :password, prepend:'<i class="fa fa-key fa-fw"></i>'.html_safe, placeholder:'Contrase침a', hide_label: true, autocomplete: "off" %>
        <div><%= f.submit "Iniciar Sesi칩n", class: "btn btn-primary btn-block" %></div>
      <% end %>
    </div>
    <%= render "devise/shared/links" %>
  </div>
<div class="col-sm-3"></div>
</div>
